h1 {
  font-size: 2.3em;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-top: 0.1em;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.25em;
}

h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-top: 0.1em;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.25em;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-top: 0.1em;
  padding-bottom: 0.25em;
}

h4 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
}

h5 {
  font-size: 0.7em;
  font-weight: bold;
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
}

h6 {
  font-size: 0.4em;
  font-weight: bold;
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
}

p {
  font-size: 1.1em;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

._tableEditor_lug8m_648 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

td,
th {
  border: 1px solid #000000;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

ul {
  list-style-type: disc;
}

/* markdown li tag*/
._listitem_1xkrx_69 {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
  margin-left: 1.2em;
}

ol {
  list-style-type: decimal;
}
